.slide {
    margin-top: 10px;
}

.slide img{
    height: 35vh;
}

.lol {
    margin-top: 300px
}

nav a:hover{
    text-decoration: underline;
}

.card-body {
    text-align: center;
}

.card-img-top {
    margin: 0 auto;
    display: block;
    width: 450px;
    height: 500px;
}


.carousel-inner img {
    filter: brightness(1.3);
    opacity: 0.4;
  }

body h1 {
    text-shadow: 1px 1px 0px black,2px 2px 0px black, 3px 3px 0px black;
    color: #feb416;
}
